In [1]:
import pandas as pd
import numpy as np
from Data_Cleaning import DataCleaning
from Model_eval import ModelEvaluation
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from Utils import Utility

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)
modelevaluation_obj=ModelEvaluation()
util=Utility()

In [2]:
obj=DataCleaning()
_,df_modeling=obj.Cleaning()

In [3]:
df_modeling.head()

,Price,Stops,Day,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Multiple carriers,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Dep_Time_noon,Dep_Time_after noon,Dep_Time_evening,Dep_Time_night,Arrival_Time_noon,Arrival_Time_after noon,Arrival_Time_evening,Arrival_Time_night,Month_June,Month_March,Month_May,Week_Monday,Week_Saturday,Week_Sunday,Week_Thursday,Week_Tuesday,Week_Wednesday
0,3897,0,24,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0
1,7662,2,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
2,13882,2,9,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3,6218,1,12,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0
4,13302,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0

In [4]:
X=df_modeling.drop(columns=['Price'])
Y=df_modeling.Price

In [5]:
X

,Stops,Day,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Multiple carriers,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Dep_Time_noon,Dep_Time_after noon,Dep_Time_evening,Dep_Time_night,Arrival_Time_noon,Arrival_Time_after noon,Arrival_Time_evening,Arrival_Time_night,Month_June,Month_March,Month_May,Week_Monday,Week_Saturday,Week_Sunday,Week_Thursday,Week_Tuesday,Week_Wednesday
0,0,24,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0
1,2,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
2,2,9,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3,1,12,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0
4,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10677,0,21,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
10678,0,9,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
10679,0,27,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0
10681,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
10682,2,9,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0

In [6]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.3,random_state=1)

In [7]:
models={"LinearRegression":LinearRegression()}

In [9]:
modelevaluation_obj.Evaluate(x_train,x_test,y_train,y_test,models)

{'LinearRegression': {'Model_name': 'LinearRegression',
  'MSE_Test': 10205656.260332895,
  'MSE_Train': 8033532.605532518,
  'RMSE_Test': 3194.629283709284,
  'RMSE_Train': 2834.3487092333075,
  'MAE_Test': 1882.1412791165428,
  'MAE_Train': 1888.5820936518442,
  'R2_Score_Test': 0.5609115979131056,
  'R2_Score_Train': 0.6055863092820528}}

In [30]:
# import pandas as pd

# # Create a sample DataFrame
# data = {'Name': ['John', 'Jane', 'Bob'],
#         'Age': [25, 30, 22],
#         'City': ['New York', 'San Francisco', 'Los Angeles']}

# df = pd.DataFrame(data)



# # Create a dictionary to append
# new_data = {'Name': 'Alice', 'Age': 28, 'City': 'Seattle'}

# pd.concat([df, pd.DataFrame(new_data)], ignore_index=True)